footer 
	.container 
		.row
			.col
				ul
					-var menu = ['Facebook','Twitter','Google+','LinkedIn ','Behance','Dribbble','GitHub']
					each val in menu
						li 
							a(href="#")=val
				p Copyright 2018 by FullStack Vietnam