
header
	.row
		.col-md-3.mt-5.offset-md-2.text-center.logo
			#logo
				img(src="img/logo.png")
		.col-md-3.mt-5.offset-md-2
			nav.menu
				ul
					-var menu = ['HOME','ABOUT','WORK','BLOG','CONTACT']
					each val in menu
						li
							a(href="#")=val
							
				
					
					